html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s; /* Анимация перехода */
}

/* Эффект при наведении */
.swiper-slide:hover {
  transform: scale(1.02);
}

/* Адаптивность */
@media (max-width: 576px) {
  .demo_zone {
    width: 90%;
    height: 25%;
  }
  .slide__text {
    width: 80%;
  }
}

.demo_zone {
  width: 55%;
  height: 35%;
  margin-top: 10%;
}

.swiper-slide {
  background-size: cover;	
  text-shadow: black 0.2em 0.2em 0.3em;	
}

.slide__title {	
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}

.slide__text {
  width: 50%;
}